<p>From Old High German <a href="sehan#Old_High_German">sehan</a>, from Proto-Germanic *sehwaną, from Proto-Indo-European *sekʷ- (“to see”). Compare Low German <a href="sehn#Low_German">sehn</a>, Dutch <a href="zien#Dutch">zien</a>, English <a href="see#English">see</a>, Danish <a href="se#Danish">se</a>, Gothic <a href="%F0%90%8D%83%F0%90%8C%B0%F0%90%8C%B9%F0%90%8D%88%F0%90%8C%B0%F0%90%8C%BD#Gothic">𐍃𐌰𐌹𐍈𐌰𐌽</a> (𐍃𐌰𐌹𐍈𐌰𐌽).</p>
